extend ../layout
block content
  ul.breadcrumb
    li
      a(href='/admin/accounts') Accounts
      span.divider

    li.active
      | Create account

  .page-header
    h1 Add Instagram

  .well
    form.form-horizontal(method='post', action='/admin/accounts')
      input(type='hidden', name='account[service]', value=account.service)
      fieldset
        .control-group
          label.control-label Feed name
          .controls
            input(type='text', name='account[name]', value=account.name)
            br
            small.muted
              | The name to identify the feed

      fieldset
        .control-group
          label.control-label client ID
          .controls
            input(type='text', name='account[credentials][clientId]', value=account.getCredentials().clientId, autofocus)
            br
            small.muted
              | An ID for the Instagram application

        .control-group
          label.control-label client secret
          .controls
            input(type='text', name='account[credentials][clientSecret]', value=account.getCredentials().clientSecret)
            br
            small.muted
              | The secret associated with the ID

      .control-group
        .controls
          button.btn.btn-primary(type='submit') Continue

  div
    h5 Need a client ID & secret?
    p If you've done this before, you can use the same ID and secret here. If you haven't yet, follow these step-by-step instructions below:
    ol
      li Create a new application on Instagram (follow link below). You'll need to register as a developer, and register a new OAuth client.
      li
        = "Set callback URL to "
        i= "http://127.0.0.1:4567/"
      li
        != "Find the <u>client ID</u> and <u>client secret</u> and paste them here."

    p
      a.btn.btn-small(href='https://instagram.com/developer', target='_blank') Create your Instagram app

