extend ../layout
block content
  ul.breadcrumb
    li
      a(href='/admin/accounts') Accounts
      span.divider

    li.active
      | Create account

  .page-header
    h1 Add Twitter

  .alert.alert-info
    h5 Instructions:
    ol
      li Create a new application on Twitter (follow link below).
      li Create your application.
      li
        = "Set callback URL to "
        i= "http://127.0.0.1:4567/"
      li
        != "Find the <u>consumer key</u> and <u>consumer secret</u> and paste them below."

    p
      a.btn.btn-small(href='https://dev.twitter.com/apps/new', target='_blank') Create your Twitter app

  .well
    form.form-horizontal(method='post', action='/admin/accounts')
      input(type='hidden', name='account[service]', value=account.service)
      .control-group
        label.control-label Feed name
        .controls
          input(type='text', name='account[name]', value=account.name)
      .control-group
        label.control-label Consumer key
        .controls
          input(type='text', name='account[credentials][consumerKey]', value=account.getCredentials().consumerKey, autofocus)

      .control-group
        label.control-label Consumer secret
        .controls
          input(type='text', name='account[credentials][consumerSecret]', value=account.getCredentials().consumerSecret)

      .control-group
        .controls
          button.btn.btn-primary(type='submit') Continue

