extend ../layout
block content
  ul.breadcrumb
    li
      a(href='/admin/accounts') Accounts
      span.divider

    li.active
      = account.name

  //------------------------------------------------------------------------
  .page-header
    h1
      = account.name

  //------------------------------------------------------------------------
  .well
    h4 Login via Instagram now
    a.btn.btn-large.btn-primary(href='/admin/accounts/' + account.id + '/auth/instagram') Authorize

  //------------------------------------------------------------------------
  table.table
    - creds = account.getCredentials()
    dl
      dt Client ID
      dd
        code= creds.clientId
      dt Client secret
      dd
        code= creds.clientSecret
    dl
      dt Access token
      dd
        code= creds.accessToken
    dl
      dt Access token secret
      dd
        code= creds.accessTokenSecret

    - if (creds.displayName)
      dl
        dt User
        dd
          img(src=creds.photo, width=50, height=50)
          br
          strong= creds.displayName
          br
          em= creds.username
          br
          em= creds.userId

  //------------------------------------------------------------------------
  .actions
    a.btn.btn-small.btn-danger(href='/admin/accounts/'+account.id, data-method='delete', data-confirm='Really?')
      i.icon-white.icon-trash
      = " Delete account"


